html .card{
    margin-top: 10%;
    height: auto;
    margin-bottom: 20%;
}
h1{
    text-align: center;
    margin: 0 auto;
    color: #1b1e21;
    padding: 0 2.0em;
    line-height: 0.7em;
}
.card .form-group{
    margin-top:5%;
}
