html,body{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;

}
.row img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover ;
}
.second-div{
    height: 100%;
    width: 100%;
}
h4{
    text-decoration: underline;
    margin: 0 auto;
    padding-bottom: 20px ;
}